.HeadTop {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.HeadTop .headImg {
  width: 7%;
  height: 100%;
}

.HeadTop .headImg .imgbox {
  width: 30px;
  height: 50%;
  background-color: red;
  border-radius: 50px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 15px auto;
}

.HeadTop .headImg .imgbox > img {
  width: 100%;
  height: 100%;
}

.HeadTop .head_right {
  width: 93%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.HeadTop .head_right1 {
  width: 93%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.HeadTop .head_right1 .ant-btn {
  width: 100px;
  height: 100%;
  background-color: transparent;
  border: none;
}

.HeadTop .tabBar {
  width: 63%;
  height: 100%;
  font-size: 20px;
}

.HeadTop .tabBar ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.HeadTop .tabBar ul li {
  padding: 0 20px;
  font-size: 18px;
}

.HeadTop .tabBar ul li #router:hover {
  color: #e82246;
}

.HeadTop .tabBar ul li #on {
  color: red;
}

.HeadTop .tabBar span:hover {
  color: red;
}

.HeadTop .rigthbox {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.HeadTop .rigthbox span {
  width: 20%;
  margin-left: 3%;
}

.HeadTop .rigthbox .language {
  font-size: 25px;
}

.HeadTop .rigthbox .theme button {
  border: none;
  background-color: transparent;
  font-size: 100%;
}

.HeadTop .rigthbox .search_bank {
  font-size: 25px;
}

.HeadTop .on {
  color: #ff0000;
}

.ant-drawer-content-wrapper {
  margin-top: 65px;
}

.ant-drawer-content-wrapper .tabBar ul {
  width: 100%;
  height: auto;
}

.ant-drawer-content-wrapper .tabBar ul li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
}

.ant-drawer-content-wrapper .none_box_language {
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.ant-drawer-content-wrapper .none_box_theme {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 10px;
}

.ant-drawer-content-wrapper .none_box_theme button {
  line-height: 50px;
  background-color: transparent;
  border: none;
}

.ant-drawer-content-wrapper .none_box_search {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
}

.ant-drawer-content {
  background-color: var(--background-color);
  color: var(--node-text-color);
}

.ant-drawer-content .ant-drawer-wrapper-body {
  background-color: var(--background-color);
  color: var(--node-text-color);
}

.ant-drawer-content .ant-drawer-wrapper-body .ant-drawer-body {
  background-color: var(--background-color);
  color: var(--node-text-color);
}

.ant-drawer-content-wrapper {
  margin-top: 65px;
}

.ant-drawer-content-wrapper .tabBar ul {
  width: 100%;
  height: auto;
}

.ant-drawer-content-wrapper .tabBar ul li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
}

.ant-drawer-content-wrapper .none_box_language {
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.ant-drawer-content-wrapper .none_box_theme {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 10px;
}

.ant-drawer-content-wrapper .none_box_theme button {
  line-height: 50px;
  background-color: transparent;
  border: none;
}

.ant-drawer-content-wrapper .none_box_search {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
}

.ant-drawer-content {
  background-color: var(--background-color);
  color: var(--node-text-color);
}

.ant-drawer-content .ant-drawer-wrapper-body {
  background-color: var(--background-color);
  color: var(--node-text-color);
}

.ant-drawer-content .ant-drawer-wrapper-body .ant-drawer-body {
  background-color: var(--background-color);
  color: var(--node-text-color);
}
