.HeadTop {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .headImg {
        width: 7%;
        height: 100%;
        .imgbox {
            width: 30px;
            height: 50%;
            background-color: red;
            border-radius: 50px;
            overflow: hidden;
            box-sizing: border-box;
            margin: 15px auto;
            > img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .head_right{
        width: 93%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .head_right1{
        width: 93%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .ant-btn{
            width: 100px;
            height: 100%;
            background-color:transparent;
            border: none;
        }
    }
    .tabBar {
        width: 63%;
        height: 100%;
        font-size: 20px;
        ul {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            li {
                padding: 0 20px;
                font-size: 18px;
                #router:hover{
                    color: #e82246;
                }
                #on {
                    color: red;
                }
            }
        }
        span:hover {
            color: red;
        }
    }
    .rigthbox {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        span{
            width: 20%;
            margin-left: 3%;
        }
        .language{
            font-size: 25px;
        }
        .theme{
            button{
                border: none;
                background-color: transparent;
                font-size: 100%;
            }
        }
        .search_bank{
            font-size: 25px;
        }
    }
    .on {
        color: #ff0000
    }
}

.ant-drawer-content-wrapper{
    margin-top: 65px;
    .tabBar{
        ul{
            width: 100%;
            height: auto;
            li{
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 18px;
            }
        }
    }
    .none_box_language{
        height: 50px;
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    .none_box_theme{
        width:100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        margin-top: 10px;
        button{
            line-height: 50px;
            background-color: transparent;
            border: none;
        }
    }
    .none_box_search{
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 30px;
    }
}


.ant-drawer-content{
    background-color:var(--background-color);
    color:var(--node-text-color);
    .ant-drawer-wrapper-body{
        background-color:var(--background-color);
        color:var(--node-text-color);
        .ant-drawer-body{
            background-color:var(--background-color);
            color:var(--node-text-color)
        }
    }
}
