.index {
    width: 100%;
    height: 100%;
    display: flex;
    
    // justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #efefef;
    .lefts {
        width: 68%;
        flex: 1;
        height: 100%;
        background-color: #efefef;
        .Swiper {
            width: 97%;
            height: 95%;
            margin: auto;
            animation: opilal 1s linear 1 0s;
        }
        .topbox {
            width: 97%;
            margin: 0 auto;
            text-align: center;
            margin-top: 10px;
            background-color: white;
            padding-top: 20px;
            padding-bottom: 1px;
            p {
                span {
                    color: red;
                    font-size: 25px;
                    line-height: 5px;
                }
            }
        }
        .tab {
            width: 97%;
            margin: 10px auto;
            background-color: white;
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                li {
                    margin: 0 15px;
                    > a {
                        color: black;
                    }
                }
                .on {
                    color: #ff0000;
                }
                li:hover {
                    color: red;
                }
            }
        }
        .Text {
            width: 97%;
            margin: auto;
            background-color: white;
            dl {
                padding-left: 10px;
                animation: opilal 1s linear 1 0s;
                border-top: solid 1px rgba(150, 150, 150, 0.328);
                .title4:hover{
                    color: #f40a12;
                }
                b {
                    font-size: 18px;

                    span {
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.328);
                    }
                    .on {
                        color: red;
                    }
                    img {
                        width: 190px;
                        height: 100px;
                    }
                }
                .ptext {
                    display: flex;
                    // p-top: 5px;
                    padding-top: 15px;
                    .p1 {
                        > img {
                            width: 190px;
                            height: 100px;
                        }
                    }
                    .p2 {
                        padding-top: 2px;
                        padding-left: 15px;
                        span:nth-child(1){
                            padding-top: 58px;
                        }
                        .on {
                            color: red;
                        }
                    }
                    .p2s {
                        padding-top: 78px;
                        padding-left: 15px;

                        .on {
                            color: red;
                        }
                    }
                }
            }
            dl:hover {
                background-color: #ccc;
            }
        }
    }
    .rigths {
        width: 300px;
        height: 100%;
        position: sticky;
        margin-left: 20px;
        top: 0;
        .rigth_top {
            width: 100%;
            height: auto;
            background-color: white;
            animation: opilal 1s linear 1 0s;
            .inli:hover{
                color: #f40a12;
            }
            h2 {
                width: 100%;
                height: 50px;
                display: inline-block;
                line-height: 50px;
                border-bottom: solid 1px rgba(158, 158, 158, 0.172);
                font-size: 15px;
                padding-left: 10px;
                animation: opilal 1s linear 1 0s;
                text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
            }
            ul {
                font-size: 10px;
                height: auto;
                padding: 15px;
                animation: opilal 1s linear 1 0s;
                li{
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }

        .rigth_buttom {
            width: 100%;
            background-color: white;
            margin-top: 20px;
            h2 {
                width: 100%;
                display: inline-block;
                line-height: 40px;
                border-bottom: solid 1px rgba(91, 91, 91, 0.172);
                font-size: 15px;
                padding-left: 10px;
                animation: opilal 1s linear 1 0s;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            ul {
                width: 100%;
                height: auto;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-content: space-around;
                animation: opilal 1s linear 1 0s;
                li {
                    border: solid 1px rgba(176, 176, 176, 0.172);
                    margin: 5px 0;
                    padding: 0 10px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                li:hover {
                    color: red;
                }
            }
        }
    }
    .en {
        color: #ccc;
    }
}

@keyframes opilal {
    0% {
        transform: translateX(-100px);
        opacity: 0.1;
        color: rgba($color: #bdbdbd, $alpha: 0.1);
        background-color: transparent;
    }
    10% {
        transform: translateX(-90px);
        opacity: 0.1;
        color: rgba($color: #bdbdbd, $alpha: 0.1);
        background-color: transparent;
    }
    40% {
        transform: translateX(-70px);
        opacity: 0.2;
        color: rgba($color: #8f8e8e, $alpha: 0.3);
        background-color: transparent;
    }
    50% {
        transform: translateX(-60px);
        opacity: 0.3;
        color: rgba($color: #7b7b7b, $alpha: 0.4);
        background-color: transparent;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        color: rgba($color: #000000, $alpha: 1);
        background-color: transparent;
    }
}
