.know {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;

    .leftkonw {
        height: auto;
        width: 68%;
        flex: 1;
        background: white;
        padding: 15px;
        animation: opilal 1s linear 1 0s;

        .leftkonw_ul_main {
            width: 100%;
            height: auto;
            border-bottom: #acacac solid 1px;
        }

        li {
            width: 100%;
            height: 130px;
        }

        .title {
            width: 100%;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            font-weight: bold;
        }

        .title1 {
            width: 100%;

        }

        .title2 {
            width: 100%;
            color: #8590a6;
        }

        // h2{
        //    width: 100%;
        //    height: 30px;
        //    line-height: 30px;
        //    font-size: 20px;
        // }
        .left_konw_text_img {
            width: 100%;
            height: 130px;
            display: flex;
            flex-wrap: nowrap;

            .left_konw_text_cover {
                width: 180px;
                height: 120px;
                margin-right: 10px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .left_konw_text_mary {
                display: flex;
                flex-wrap: wrap;
                align-content: space-between
            }
        }

        .title:hover {
            color: red
        }
    }
    // .leftkonw:last-child{
    //     border-bottom: none;
    // }

    // .leftkonw:last-child{
    //     border-bottom: none;
    // }
    .rightkonw {
        height: 100%;
        width: 30%;
        margin-left: 10px;
        .righthead {
            width: 100%;
            height: auto;
            background: white;
            padding: 10px;

            ul {
                margin-bottom: 0;
            }

            .rightheadlist {
                font-size: 16px;
                width: 100%;
                height: 40px;
                line-height: 40px;
                color: #969696;
                font-size: 14px;
                font-size: 14px;
                animation: opilal 1s linear 1 0s;
            }

            .rightheadh2 {
                width: 100%;
                height: 50px;
                line-height: 50px;
                font-weight: bold;
                font-size: 16px;
                border-bottom: #d4d4d4 solid 1px;
            }

            .rightheadlist:hover {
                color: red;
            }

            .rightheadh2:hover {
                color: red;
            }
        }

        .rightmain {
            width: 100%;
            height: auto;
            margin-top: 20px;
            background: white;
            color: #969696;
            padding: 10px;

            .right_main_head {
                width: 100%;
                height: 60px;
                line-height: 60px;
                font-weight: bold;
                border-bottom: #c4c4c4 solid 1px;
            }

            ul {
                margin-bottom: 0;
            }

            .siz {
                font-size: 14px;
                width: 100%;
                height: 40px;
                line-height: 40px;
                color: #969696;
                animation: opilal 1s linear 1 0s;

                .siz_label {
                    display: inline-block;
                    width: 30%;
                    height: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .span {
                    display: inline-block;
                    width: 30%;
                    float: right;
                    height: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-right: 30px;
                    span {
                        margin: 0 10px;
                    }
                }
            }

            .siz:hover {
                color: red;
            }
        }
    }
}



.detailscss {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    .detailscssleft {
        height: auto;
        width: 68%;
        padding-bottom: 15px;
        .know_loger_theme {
            font-size: 16px;
            width: 100%;
            height: 30px;
            line-height: 30px;
        }

        .know_loger_title {
            font-size: 16px;
            width: 100%;
            height: 50px;
            line-height: 50px;
            font-weight: bolder;
        }

        .know_loger_img {
            width: 100%;
            height: auto;
            background: white;
            padding: 15px;

            img {
                width: 100%;
                height: auto;
                margin-top: 10px;
            }

            .know_loger_label{
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
            }

            .know_loger_time{
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #acacac;
                .know_loger_time_num{
                    margin-right: 5px;
                }
                .know_loger_time_text{
                    margin-right: 5px;
                }
                .know_loger_time_parmot{
                    margin-right: 5px;
                }
            }
            .know_loger_title_text {
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center;
            }

            .know_loger_footer{
                width: 100%;
                height: 50px;
                text-align: center;
                line-height: 50px;
            }

            .know_loger_btn_box{
                width: 100%;
                height: 35px;
                line-height: 35px;
                text-align: center;

                .know_loger_btn{
                    width: 150px;
                    background-color: #f4f4f4;
                    border: #cacaca solid 1px;
                    color: #cecece;
                }

            }
        }
    }

    .detailscssright {
        width: 30%;
        height: auto;

        .know_loger_right_taber{
            width: 100%;
            height: 80px;
            line-height: 80px;
            font-size: 18px;
            font-weight: bolder;
        }
        .know_loger_right_main{
            width: 100%;
            height: auto;
            background-color: #ffffff;
        }
        .know_loger_title {
            font-size: 15px;
            margin-top: 38px;
            margin-bottom: 10px;
        }
        .know_loger_right_img {
            width: 100%;
            height: auto;
            
            .know_loger_right_item{
                width: 100%;
                height: 50px;
                line-height: 50px;
                font-size: 18px;
                padding-left: 10px;
            }
            .know_loger_right_img_dl{
                border-bottom: #c2c1c1 solid 1px;
            }
            dl{
                width: 100%;
                height: 130px;
                display: flex;
                padding: 10px;
                justify-content: space-between;
                dt{
                    width: 50%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                dd{
                    width: 46%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;
                    .dd_title{
                        width: 100%;
                        height: 30px;
                        line-height: 30px;
                    }
                    .dd_farams{
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        color: #acacac;
                    }
                }
            }
            .nav3:hover {
                color: red;
            }

            .title3 {
                float: left;
                margin-top: 15px;
                margin-left: -2.5px;
                font-size: 10px;
            }
        }
    }
}


@keyframes opilal {
    0% {
        transform: translateX(-100px);
        opacity: 0.1;
        color: rgba($color: #bdbdbd, $alpha: 0.1);
        background-color: transparent;
    }

    10% {
        transform: translateX(-90px);
        opacity: 0.1;
        color: rgba($color: #bdbdbd, $alpha: 0.1);
        background-color: transparent;
    }

    40% {
        transform: translateX(-70px);
        opacity: 0.2;
        color: rgba($color: #8f8e8e, $alpha: 0.3);
        background-color: transparent;
    }

    50% {
        transform: translateX(-60px);
        opacity: 0.3;
        color: rgba($color: #7b7b7b, $alpha: 0.4);
        background-color: transparent;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        background-color: transparent;
    }
}

.share_box {
    width: 100%;
    margin-left: -12px;
    position: relative;

    img {
        width: 375px;
        height: 200px;
        vertical-align: middle;
        border-style: none;
    }

    .share_box_liw {
        position: absolute;
        left: 111px;
        top: 271px;
    }

    .share_box_liy {
        position: absolute;
        left: 111px;
        top: 354px;
        font-size: 10px;

        .share_box_liy_span {
            color: #f03671;
        }
    }
}