.know {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
}

.know .leftkonw {
  height: auto;
  width: 68%;
  flex: 1;
  background: white;
  padding: 15px;
  animation: opilal 1s linear 1 0s;
}

.know .leftkonw .leftkonw_ul_main {
  width: 100%;
  height: auto;
  border-bottom: #acacac solid 1px;
}

.know .leftkonw li {
  width: 100%;
  height: 130px;
}

.know .leftkonw .title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
}

.know .leftkonw .title1 {
  width: 100%;
}

.know .leftkonw .title2 {
  width: 100%;
  color: #8590a6;
}

.know .leftkonw .left_konw_text_img {
  width: 100%;
  height: 130px;
  display: flex;
  flex-wrap: nowrap;
}

.know .leftkonw .left_konw_text_img .left_konw_text_cover {
  width: 180px;
  height: 120px;
  margin-right: 10px;
}

.know .leftkonw .left_konw_text_img .left_konw_text_cover img {
  width: 100%;
  height: 100%;
}

.know .leftkonw .left_konw_text_img .left_konw_text_mary {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.know .leftkonw .title:hover {
  color: red;
}

.know .rightkonw {
  height: 100%;
  width: 30%;
  margin-left: 10px;
}

.know .rightkonw .righthead {
  width: 100%;
  height: auto;
  background: white;
  padding: 10px;
}

.know .rightkonw .righthead ul {
  margin-bottom: 0;
}

.know .rightkonw .righthead .rightheadlist {
  font-size: 16px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #969696;
  font-size: 14px;
  font-size: 14px;
  animation: opilal 1s linear 1 0s;
}

.know .rightkonw .righthead .rightheadh2 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: #d4d4d4 solid 1px;
}

.know .rightkonw .righthead .rightheadlist:hover {
  color: red;
}

.know .rightkonw .righthead .rightheadh2:hover {
  color: red;
}

.know .rightkonw .rightmain {
  width: 100%;
  height: auto;
  margin-top: 20px;
  background: white;
  color: #969696;
  padding: 10px;
}

.know .rightkonw .rightmain .right_main_head {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  border-bottom: #c4c4c4 solid 1px;
}

.know .rightkonw .rightmain ul {
  margin-bottom: 0;
}

.know .rightkonw .rightmain .siz {
  font-size: 14px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #969696;
  animation: opilal 1s linear 1 0s;
}

.know .rightkonw .rightmain .siz .siz_label {
  display: inline-block;
  width: 30%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.know .rightkonw .rightmain .siz .span {
  display: inline-block;
  width: 30%;
  float: right;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 30px;
}

.know .rightkonw .rightmain .siz .span span {
  margin: 0 10px;
}

.know .rightkonw .rightmain .siz:hover {
  color: red;
}

.detailscss {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.detailscss .detailscssleft {
  height: auto;
  width: 68%;
  padding-bottom: 15px;
}

.detailscss .detailscssleft .know_loger_theme {
  font-size: 16px;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.detailscss .detailscssleft .know_loger_title {
  font-size: 16px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-weight: bolder;
}

.detailscss .detailscssleft .know_loger_img {
  width: 100%;
  height: auto;
  background: white;
  padding: 15px;
}

.detailscss .detailscssleft .know_loger_img img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.detailscss .detailscssleft .know_loger_img .know_loger_label {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.detailscss .detailscssleft .know_loger_img .know_loger_time {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #acacac;
}

.detailscss .detailscssleft .know_loger_img .know_loger_time .know_loger_time_num {
  margin-right: 5px;
}

.detailscss .detailscssleft .know_loger_img .know_loger_time .know_loger_time_text {
  margin-right: 5px;
}

.detailscss .detailscssleft .know_loger_img .know_loger_time .know_loger_time_parmot {
  margin-right: 5px;
}

.detailscss .detailscssleft .know_loger_img .know_loger_title_text {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.detailscss .detailscssleft .know_loger_img .know_loger_footer {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.detailscss .detailscssleft .know_loger_img .know_loger_btn_box {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.detailscss .detailscssleft .know_loger_img .know_loger_btn_box .know_loger_btn {
  width: 150px;
  background-color: #f4f4f4;
  border: #cacaca solid 1px;
  color: #cecece;
}

.detailscss .detailscssright {
  width: 30%;
  height: auto;
}

.detailscss .detailscssright .know_loger_right_taber {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  font-weight: bolder;
}

.detailscss .detailscssright .know_loger_right_main {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

.detailscss .detailscssright .know_loger_title {
  font-size: 15px;
  margin-top: 38px;
  margin-bottom: 10px;
}

.detailscss .detailscssright .know_loger_right_img {
  width: 100%;
  height: auto;
}

.detailscss .detailscssright .know_loger_right_img .know_loger_right_item {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  padding-left: 10px;
}

.detailscss .detailscssright .know_loger_right_img .know_loger_right_img_dl {
  border-bottom: #c2c1c1 solid 1px;
}

.detailscss .detailscssright .know_loger_right_img dl {
  width: 100%;
  height: 130px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.detailscss .detailscssright .know_loger_right_img dl dt {
  width: 50%;
  height: 100%;
}

.detailscss .detailscssright .know_loger_right_img dl dt img {
  width: 100%;
  height: 100%;
}

.detailscss .detailscssright .know_loger_right_img dl dd {
  width: 46%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.detailscss .detailscssright .know_loger_right_img dl dd .dd_title {
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.detailscss .detailscssright .know_loger_right_img dl dd .dd_farams {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #acacac;
}

.detailscss .detailscssright .know_loger_right_img .nav3:hover {
  color: red;
}

.detailscss .detailscssright .know_loger_right_img .title3 {
  float: left;
  margin-top: 15px;
  margin-left: -2.5px;
  font-size: 10px;
}

@keyframes opilal {
  0% {
    transform: translateX(-100px);
    opacity: 0.1;
    color: rgba(189, 189, 189, 0.1);
    background-color: transparent;
  }
  10% {
    transform: translateX(-90px);
    opacity: 0.1;
    color: rgba(189, 189, 189, 0.1);
    background-color: transparent;
  }
  40% {
    transform: translateX(-70px);
    opacity: 0.2;
    color: rgba(143, 142, 142, 0.3);
    background-color: transparent;
  }
  50% {
    transform: translateX(-60px);
    opacity: 0.3;
    color: rgba(123, 123, 123, 0.4);
    background-color: transparent;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
  }
}

.share_box {
  width: 100%;
  margin-left: -12px;
  position: relative;
}

.share_box img {
  width: 375px;
  height: 200px;
  vertical-align: middle;
  border-style: none;
}

.share_box .share_box_liw {
  position: absolute;
  left: 111px;
  top: 271px;
}

.share_box .share_box_liy {
  position: absolute;
  left: 111px;
  top: 354px;
  font-size: 10px;
}

.share_box .share_box_liy .share_box_liy_span {
  color: #f03671;
}
