.bank_top {
  position: fixed;
  right: 100px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 26px;
}

.bank_top div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  line-height: 44px;
}
