.login_content {
    padding: 10px;
}

.Loginp {
    margin-bottom: 15px;
}

.login_iconBox {
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.login_icon {
    font-size: 24px;
    line-height: 45px;
}
.ant-btn{
    margin-top: 10px;
}