.Tagindex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Tagindex .Tag_lefts {
  width: 70%;
  height: 100%;
}

.Tagindex .Tag_lefts .Tag_topbox {
  width: 97%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 1px;
  margin-bottom: 10px;
}

.Tagindex .Tag_lefts .Tag_topbox p span {
  color: red;
  font-size: 25px;
  line-height: 5px;
}

.Tagindex .Tag_lefts .komg {
  width: 100%;
  height: 20px;
}

.Tagindex .Tag_lefts .Tag_tab {
  width: 97%;
  margin: 10px auto;
  background-color: white;
}

.Tagindex .Tag_lefts .Tag_tab > p {
  padding-left: 2%;
  border-bottom: solid 1px rgba(150, 150, 150, 0.328);
}

.Tagindex .Tag_lefts .Tag_tab ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.Tagindex .Tag_lefts .Tag_tab ul li {
  margin: 0 15px;
}

.Tagindex .Tag_lefts .Tag_tab ul li > a {
  color: black;
}

.Tagindex .Tag_lefts .Tag_tab ul .on {
  color: red;
}

.Tagindex .Tag_lefts .Tag_tab ul li:hover {
  color: red;
}

.Tagindex .Tag_lefts .Tag_Text {
  width: 97%;
  margin: auto;
  background-color: white;
}

.Tagindex .Tag_lefts .Tag_Text dl {
  padding-left: 10px;
  animation: opilal 1s linear 1 0s;
  border-top: solid 1px rgba(150, 150, 150, 0.328);
}

.Tagindex .Tag_lefts .Tag_Text dl .title4:hover {
  color: #f40a12;
}

.Tagindex .Tag_lefts .Tag_Text dl b {
  font-size: 18px;
}

.Tagindex .Tag_lefts .Tag_Text dl b span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.328);
}

.Tagindex .Tag_lefts .Tag_Text dl b .on {
  color: red;
}

.Tagindex .Tag_lefts .Tag_Text dl b img {
  width: 190px;
  height: 100px;
}

.Tagindex .Tag_lefts .Tag_Text dl .ptext {
  display: flex;
  padding-top: 15px;
}

.Tagindex .Tag_lefts .Tag_Text dl .ptext .p1 > img {
  width: 190px;
  height: 100px;
}

.Tagindex .Tag_lefts .Tag_Text dl .ptext .p2 {
  padding-top: 2px;
  padding-left: 15px;
}

.Tagindex .Tag_lefts .Tag_Text dl .ptext .p2 span:nth-child(1) {
  padding-top: 58px;
}

.Tagindex .Tag_lefts .Tag_Text dl .ptext .p2 .on {
  color: red;
}

.Tagindex .Tag_lefts .Tag_Text dl .ptext .p2s {
  padding-top: 78px;
  padding-left: 15px;
}

.Tagindex .Tag_lefts .Tag_Text dl .ptext .p2s .on {
  color: red;
}

.Tagindex .Tag_lefts .Tag_Text dl:hover {
  background-color: #ccc;
}

.Tagindex .Tag_rigths {
  width: 24%;
  height: 100%;
  position: sticky;
  margin-left: 20px;
  top: 0;
}

.Tagindex .Tag_rigths .Tag_rigth_top {
  width: 100%;
  height: auto;
  background-color: white;
  animation: opilal 1s linear 1 0s;
}

.Tagindex .Tag_rigths .Tag_rigth_top .inli:hover {
  color: #f40a12;
}

.Tagindex .Tag_rigths .Tag_rigth_top h2 {
  width: 100%;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  border-bottom: solid 1px rgba(158, 158, 158, 0.172);
  font-size: 15px;
  padding-left: 10px;
  animation: opilal 1s linear 1 0s;
}

.Tagindex .Tag_rigths .Tag_rigth_top ul {
  font-size: 10px;
  height: auto;
  padding: 15px;
  animation: opilal 1s linear 1 0s;
}

.Tagindex .Tag_rigths .Tag_rigth_top ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.Tagindex .Tag_rigths .Tag_rigth_buttom {
  width: 100%;
  background-color: white;
  margin-top: 20px;
}

.Tagindex .Tag_rigths .Tag_rigth_buttom h2 {
  width: 100%;
  display: inline-block;
  line-height: 40px;
  border-bottom: solid 1px rgba(91, 91, 91, 0.172);
  font-size: 15px;
  padding-left: 10px;
  animation: opilal 1s linear 1 0s;
}

.Tagindex .Tag_rigths .Tag_rigth_buttom ul {
  width: 100%;
  height: auto;
  padding: 10px;
  animation: opilal 1s linear 1 0s;
}

.Tagindex .Tag_rigths .Tag_rigth_buttom ul li {
  display: flex;
  justify-content: space-between;
}

.Tagindex .Tag_rigths .Tag_rigth_buttom ul li:hover {
  color: red;
}

.Tagindex .en {
  color: #ccc;
}

@keyframes opilal {
  0% {
    transform: translateX(-100px);
    opacity: 0.1;
    color: rgba(189, 189, 189, 0.1);
    background-color: transparent;
  }
  10% {
    transform: translateX(-90px);
    opacity: 0.1;
    color: rgba(189, 189, 189, 0.1);
    background-color: transparent;
  }
  40% {
    transform: translateX(-70px);
    opacity: 0.2;
    color: rgba(143, 142, 142, 0.3);
    background-color: transparent;
  }
  50% {
    transform: translateX(-60px);
    opacity: 0.3;
    color: rgba(123, 123, 123, 0.4);
    background-color: transparent;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    color: black;
    background-color: transparent;
  }
}
