.Sharebox {
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 999;
    position: fixed;
    top: 0px;
    display: none;
    .childbox {
        width: 400px;
        background-color: white;
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);

        p:nth-child(1) {
            height: 50px;
            line-height: 50px;
            border-bottom: #ccc 1px solid;
            span:nth-child(1) {
                padding-left: 20px;
                display: inline-block;
                width: 90%;
            }
        }
        p:nth-child(2) {
            dl {
                img {
                    margin-left: 2%;
                    width: 96%;
                    height: 200px;
                    // padding-bottom: 20px;
                }
                b {
                    padding-left: 20px;
                    line-height: 50px;
                    font-size: 20px;
                }
                dt {
                    display: flex;
                    margin-left: 20px;
                    // > span:nth-child(1) {
                    // }
                    > span:nth-child(2) {
                        margin-left: 20px;
                        .is {
                            color: #ccc;
                        }
                        .on {
                            color: red;
                        }
                    }
                }
            }
        }
        p:nth-child(3) {
            display: block;
            width: 100%;
            height: 50px;
            span:nth-child(1) {
                margin-right: 40px;
                float: right;
                background-color: red;
                color: white;
                text-align: center;
                line-height: 30px;
                width: 50px;
                height: 30px;
                a{
                    color: #ffffff;
                }
            }
            span:nth-child(2) {
                float: right;
                margin-right: 20px;
                width: 50px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                border: #ccc 1px solid;
            }
        }
    }
}
