.Sharebox {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  position: fixed;
  top: 0px;
  display: none;
}

.Sharebox .childbox {
  width: 400px;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.Sharebox .childbox p:nth-child(1) {
  height: 50px;
  line-height: 50px;
  border-bottom: #ccc 1px solid;
}

.Sharebox .childbox p:nth-child(1) span:nth-child(1) {
  padding-left: 20px;
  display: inline-block;
  width: 90%;
}

.Sharebox .childbox p:nth-child(2) dl img {
  margin-left: 2%;
  width: 96%;
  height: 200px;
}

.Sharebox .childbox p:nth-child(2) dl b {
  padding-left: 20px;
  line-height: 50px;
  font-size: 20px;
}

.Sharebox .childbox p:nth-child(2) dl dt {
  display: flex;
  margin-left: 20px;
}

.Sharebox .childbox p:nth-child(2) dl dt > span:nth-child(2) {
  margin-left: 20px;
}

.Sharebox .childbox p:nth-child(2) dl dt > span:nth-child(2) .is {
  color: #ccc;
}

.Sharebox .childbox p:nth-child(2) dl dt > span:nth-child(2) .on {
  color: red;
}

.Sharebox .childbox p:nth-child(3) {
  display: block;
  width: 100%;
  height: 50px;
}

.Sharebox .childbox p:nth-child(3) span:nth-child(1) {
  margin-right: 40px;
  float: right;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 30px;
  width: 50px;
  height: 30px;
}

.Sharebox .childbox p:nth-child(3) span:nth-child(1) a {
  color: #ffffff;
}

.Sharebox .childbox p:nth-child(3) span:nth-child(2) {
  float: right;
  margin-right: 20px;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: #ccc 1px solid;
}
