.artives {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 15px;
  justify-content: space-between;
  align-items: flex-start;
}

.artives .left_artives {
  width: 68%;
  height: auto;
  flex: 1;
  background: white;
}

.artives .left_artives .archives_top {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eee;
}

.artives .left_artives .archives_top .archives_top_tag {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #ff2740;
  text-align: center;
  margin-bottom: 0;
}

.artives .left_artives .archives_top .archives_top_text {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.artives .left_artives .archives_top .archives_top_text span {
  color: red;
  font-size: 15px;
}

.artives .left_artives .archives_main {
  width: 100%;
  height: auto;
}

.artives .left_artives .archives_main .archives_main_text1 {
  width: 100%;
  height: 80px;
  font-size: 30px;
  line-height: 80px;
  margin-bottom: 0;
  text-indent: 1em;
}

.artives .left_artives .archives_main .archives_main_text2 {
  width: 100%;
  height: 40px;
  font-size: 25px;
  color: #adadad;
  text-indent: 2em;
}

.artives .left_artives .archives_ul {
  width: 100%;
  height: auto;
}

.artives .left_artives .archives_ul li {
  width: 100%;
  height: 30px;
  list-style: disc;
  text-align: left;
  margin-left: 90px;
  line-height: 30px;
  animation: opilal 1s linear 1 0s;
}

.artives .left_artives .archives_ul li .li_span_time {
  color: #adadad;
}

.artives .left_artives .archives_ul li .li_span_text {
  font-weight: 600;
  margin-left: 20px;
}

.artives .left_artives .archives_ul li:hover {
  color: red;
}

.artives .right_artives {
  height: 100%;
  width: 30%;
  margin-left: 10px;
}

.artives .right_artives .righthead {
  width: 100%;
  height: auto;
  background: white;
  padding: 10px;
}

.artives .right_artives .righthead .rightheadlist {
  font-size: 16px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #969696;
  animation: opilal 1s linear 1 0s;
}

.artives .right_artives .righthead .rightheadh2 {
  font-size: 20px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: #d6d6d6 solid 1px;
}

.artives .right_artives .righthead .rightheadlist:hover {
  color: red;
}

.artives .right_artives .righthead .rightheadh2:hover {
  color: red;
}

.artives .right_artives .rightmain {
  width: 100%;
  height: auto;
  margin-top: 20px;
  background: white;
  color: #969696;
  padding: 10px;
}

.artives .right_artives .rightmain .tag_right {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.artives .right_artives .rightmain .siz {
  font-size: 16px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #969696;
  animation: opilal 1s linear 1 0s;
}

.artives .right_artives .rightmain .siz .siz_label {
  display: inline-block;
  width: 15%;
  height: 30px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.artives .right_artives .rightmain .siz .span {
  display: inline-block;
  width: 200px;
  height: 100%;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.artives .right_artives .rightmain .siz .span .span_text {
  margin-left: 10px;
}

.artives .right_artives .rightmain .siz:hover {
  color: red;
}

.detailscss {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.detailscss .detailscssleft {
  height: 100%;
  width: 60%;
}

.detailscss .detailscssleft .nav1 {
  font-size: 20px;
}

.detailscss .detailscssleft .nav2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.detailscss .detailscssleft .navimg {
  width: 100%;
  height: 800px;
  background: white;
  border: solid 1px #ccc;
}

.detailscss .detailscssleft .navimg img {
  width: 95%;
  height: 500px;
  margin-left: 18px;
  margin-top: 30px;
}

.detailscss .detailscssleft .nav3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.detailscss .detailscssleft .nav4 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.detailscss .detailscssleft .nav5 {
  width: 120px;
  height: 35px;
  background: #f5f5f5;
  text-align: center;
  line-height: 35px;
  color: #b7b7b7;
  border: solid 1px #d9d9d9;
  font-size: 15px;
  margin-left: 300px;
}

.detailscss .detailscssleft .nav6 {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}

.detailscss .detailscssright {
  width: 35%;
  height: 100%;
}

.detailscss .detailscssright .nav2 {
  font-size: 20px;
  margin-top: 38px;
  margin-bottom: 10px;
}

.detailscss .detailscssright .rightimg {
  width: 100%;
  height: 305px;
  background: white;
  border: solid 1px #ccc;
}

.detailscss .detailscssright .rightimg .nav3 {
  font-size: 20px;
}

.detailscss .detailscssright .rightimg .nav3:hover {
  color: red;
}

.detailscss .detailscssright .rightimg dl .nav4 {
  width: 250px;
  height: 250px;
  margin-top: 10px;
  float: left;
}

.detailscss .detailscssright .rightimg dl dd {
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 20px;
  width: 60px;
}

@keyframes opilal {
  0% {
    transform: translateX(-100px);
    opacity: 0.1;
    color: rgba(189, 189, 189, 0.1);
    background-color: transparent;
  }
  10% {
    transform: translateX(-90px);
    opacity: 0.1;
    color: rgba(189, 189, 189, 0.1);
    background-color: transparent;
  }
  40% {
    transform: translateX(-70px);
    opacity: 0.2;
    color: rgba(143, 142, 142, 0.3);
    background-color: transparent;
  }
  50% {
    transform: translateX(-60px);
    opacity: 0.3;
    color: rgba(123, 123, 123, 0.4);
    background-color: transparent;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
  }
}
