.artives{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 15px;
    justify-content: space-between;
    align-items: flex-start;
    .left_artives{
        width: 68%;
        height: auto;
        flex: 1;
        background: white;
        .archives_top {
            width: 100%;
            height: 100px;
            border-bottom: 1px solid #eee;
            .archives_top_tag {
                width: 100%;
                height: 50px;
                line-height: 50px;
                font-size: 20px;
                color: #ff2740;
                text-align: center;
                margin-bottom: 0;
            }
            .archives_top_text {
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                span {
                    color: red;
                    font-size: 15px;
                }
            }
        }
        
        .archives_main {
            width: 100%;
            height: auto;
            .archives_main_text1{
                width: 100%;
                height: 80px;
                font-size: 30px;
                line-height: 80px;
                margin-bottom: 0;
                text-indent: 1em;
            }
            .archives_main_text2{
                width: 100%;
                height: 40px;
                font-size: 25px;
                color: #adadad;
                text-indent: 2em;
            }
        }
        .archives_ul {
            width: 100%;
            height: auto;
            li {
                width: 100%;
                height: 30px;
                list-style: disc;
                text-align: left;
                margin-left: 90px;
                line-height: 30px;
                animation: opilal 1s linear 1 0s;
                .li_span_time{
                    color: #adadad;
                }
                .li_span_text{
                    font-weight: 600;
                    margin-left: 20px;
                }
            }
        
            li:hover {
                color: red;
            }
        
        }
    }
    .right_artives{
        height: 100%;
        width: 30%;
        margin-left: 10px;
        .righthead{
            width: 100%;
            height: auto;
            background: white;
            padding: 10px;
            .rightheadlist{
                font-size: 16px;
                width: 100%;
                height: 30px;
                line-height: 30px;
                color: #969696;
                animation: opilal 1s linear 1 0s;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .rightheadh2{
                font-size: 20px;
                width: 100%;
                height: 50px;
                line-height: 50px;
                border-bottom: #d6d6d6 solid 1px;
            }
            .rightheadlist:hover{
                color: red;
            }
            .rightheadh2:hover{
                color: red;
            }
        }
        .rightmain{
            width: 100%;
            height: auto;
            margin-top: 20px;
            background: white;
            color: #969696;
            padding: 10px;
            .tag_right{
                width: 100%;
                height: 50px;
                line-height: 50px;
            }
            .siz{
                font-size: 16px;
                width: 100%;
                height: 30px;
                line-height: 30px;
                color: #969696;
                animation: opilal 1s linear 1 0s;
                .siz_label{
                    display: inline-block;
                    width: 15%;
                    height: 30px;
                    line-height: 30px; 
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .span{
                    display: inline-block;
                    width:200px;
                    height: 100%;
                    text-align: right;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    .span_text{
                        margin-left: 10px;
                    }
                }
            }
            .siz:hover{
                color: red;
            }
        }
    }
}



.detailscss{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
   .detailscssleft{
    height: 100%;
    width: 60%;
    }
   .detailscssright{
        width: 35%;
        height: 100%;
        .rightimg{
            width: 100%;
            height: 305px;
            background: white;
            border: solid 1px #ccc;
            .nav3{
                font-size: 20px;
            
            }
            .nav3:hover{
                color: red;
            }
            dl{
                .nav4{
                    width: 250px;
                    height: 250px;
                    margin-top: 10px;
                    float: left;
                }
                dd{
                    float: left;
                    margin-top: 10px;
                    margin-left: 5px;
                    font-size: 20px;
                    width: 60px;
                }
            }
        }
   }
}


@keyframes opilal{
    0%{
        transform: translateX(-100px);
        opacity: 0.1;
        color: rgba($color: #bdbdbd, $alpha: 0.1);
        background-color: transparent;
    }
    10%{
        transform: translateX(-90px);
        opacity: 0.1;
        color: rgba($color: #bdbdbd, $alpha: 0.1);
        background-color: transparent;
    }
    40%{
        transform: translateX(-70px);
        opacity: 0.2;
        color: rgba($color: #8f8e8e, $alpha: 0.3);
        background-color: transparent;
    }
    50%{
        transform: translateX(-60px);
        opacity: 0.3;
        color: rgba($color: #7b7b7b, $alpha: 0.4);
        background-color: transparent;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
        background-color: transparent;
    }
}