.details {
    width: 100%;
    height: auto;
    position: relative;
    .details_main {
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-wrap: nowrap;
        .details_left {
            width: 70%;
            height: auto;
            flex: 1;
            padding: 20px;
            background-color: #ffffff;

            img {
                width: 100%;
            }
        }

        .details_right {
            width: 300px;
            height: auto;
            margin-left: 15px;
        }
    }

    .details_postion {
        position: fixed;
        top: 240px;
        left: 2%;
        li {
            width: 40px;
            height: 40px;
            background-color: #ffffff;
            margin-bottom: 10px;
            border-radius: 50%;
            text-align: center;
            line-height: 40px;

            .like_num {
                position: absolute;
                left: 25px;
                top: -10px;
                width: 20px;
                height: 20px;
                line-height: 19px;
                font-size: 12px;
                border-radius: 50%;
                color: #ffffff;
                background-color: red;
            }

            .details_like {
                font-size: 20px;
                color: #b0b0b0;
            }

            .details_like_fla {
                font-size: 20px;
                color: #ff626d;
            }

            .details_news {
                font-size: 20px;
                color: #b0b0b0;
            }

            .details_share {
                font-size: 20px;
                color: #b0b0b0;
            }
        }
    }
    .details_postion_footer{
        position: fixed;
        bottom: -14px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        left: 0;
        background-color: #ffffff;
        li {
            background-color: #ffffff;
            text-align: center;
            line-height: 40px;
            position: relative;
            .like_num {
                position: absolute;
                left: 15px;
                top: -5px;
                width: 20px;
                height: 20px;
                line-height: 19px;
                border-radius: 50%;
                color: #ffffff;
                background-color: red;
                font-size: 12px;
            }

            .details_like {
                font-size: 20px;
                color: #b0b0b0;
            }

            .details_like_fla {
                font-size: 20px;
                color: #ff626d;
            }

            .details_news {
                font-size: 20px;
                color: #b0b0b0;
            }

            .details_share {
                font-size: 20px;
                color: #b0b0b0;
            }
        }
    }
}

.details_left_title {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.details_left_updateAt {
    text-align: center;
    font-size: 20px;
}

.details_right_comment {
    width: 100%;
    height: auto;
    max-height: 380px;
    background-color: #ffffff;
    padding: 15px;
    overflow: hidden;

    .details_right_comment_ulList {
        width: 100%;
        height: auto;

        li {
            width: 100%;
            height: 40px;
            line-height: 40px;
            color: #9e9e9e;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            .partition {
                margin: 0 5px;
            }
        }
    }
}

.details_right_toc {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 15px;
    margin-top: 20px;
}
.ant-anchor-wrapper :hover{
    color: red;
}

.details .ant-anchor-link-title-active {
    color: red;
}

.details_imgshare {
    width: 350px;
    height: 250px;
}

.ant-modal-content {
    width: 400px;
}

.details_right_recomment {
    border-bottom: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
}

// .details Image{
//     background: rgba(0,0,0.5);
// }

.details .ant-image-preview-wrap {
    background: rgba(0, 0, 0.5);
}

.details_right_fixation{
    width: 300px;
    height: auto;
    position: relative;
}
// 表情划过高亮
.details_left_smile :hover{
    color: red; 
}


// 吸顶
#details_right_fix{
    position: fixed;
    top: 20px;
}

#details_left_review{
    width: 100%;
    height: auto;
    .details_left_review_rea{
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }
    .details_left_onSubmit{
        width: 100%;
        height: 200px;
        .details_left_onSubmit_input{
            width: 100%;
            height: 100%;
        }
    }
}
// 评论样式
.details_left_onSubmit{
    justify-content: space-between;
    padding: 10px;
    display: flex;
    .details_left_btn{
        float: right;
        margin-bottom: -10px;
    }
}
.details_right_recomment{
    border-bottom: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
}

.details_news  .ant-anchor-link a{
    // text-align: center;
    margin-left: -15px;
    font-size: 20px;
    color: #999;
}
// 回复数据
.details .comments{
    margin-top: 20px;
    background: #f1f1f1;
    padding: 20px;
}
.details .comments_username{
    padding: 35px;
}
.details .comments_html{
    padding: 35px;
}
.details .comments_date{
    padding: 35px;
}
.details #comments_img{
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    border: 1px solid #ccc;
    font-size: 18px;
    // background-color: rgb(114, 46, 209);
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 10px;
}





@keyframes opilal{
    0%{
        transform: translateX(-100px);
        opacity: 0.1;
        color: rgba($color: #bdbdbd, $alpha: 0.1);
        background-color: transparent;
    }

    10% {
        transform: translateX(-90px);
        opacity: 0.1;
        color: rgba($color: #bdbdbd, $alpha: 0.1);
        background-color: transparent;
    }

    40% {
        transform: translateX(-70px);
        opacity: 0.2;
        color: rgba($color: #8f8e8e, $alpha: 0.3);
        background-color: transparent;
    }

    50% {
        transform: translateX(-60px);
        opacity: 0.3;
        color: rgba($color: #7b7b7b, $alpha: 0.4);
        background-color: transparent;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        color: rgba($color: #000000, $alpha: 1.0);
        background-color: transparent;
    }
}
