.details_left_main h1 {
  font-size: 30px;
}

.details_left_main h2 {
  font-size: 25px;
}

.details_left_main h3 {
  font-size: 20px;
}

.details_right_comment {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  padding: 15px;
}

.details_right_toc {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  padding: 15px;
  margin-top: 20px;
}

@keyframes opilal {
  0% {
    transform: translateX(-100px);
    opacity: 0.1;
    color: rgba(189, 189, 189, 0.1);
    background-color: transparent;
  }
  10% {
    transform: translateX(-90px);
    opacity: 0.1;
    color: rgba(189, 189, 189, 0.1);
    background-color: transparent;
  }
  40% {
    transform: translateX(-70px);
    opacity: 0.2;
    color: rgba(143, 142, 142, 0.3);
    background-color: transparent;
  }
  50% {
    transform: translateX(-60px);
    opacity: 0.3;
    color: rgba(123, 123, 123, 0.4);
    background-color: transparent;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    color: black;
    background-color: transparent;
  }
}
