@import '~antd/dist/antd.css';

@media (max-width: 767px) {
    .viewer-hide-xs-down {
        display:none
    }
}

@media (max-width: 991px) {
    .viewer-hide-sm-down {
        display:none
    }
}

@media (max-width: 1199px) {
    .viewer-hide-md-down {
        display:none
    }
}