/* 
    用js的书写形式  完成css模块  css in js
    ！创建文件一定要加.module
    1.不用关心繁琐的class命名规则
    2.不用担心样式被覆盖
    3.便于复用
    4.减少多余的css代码 实现css按需加载
 */


.app{
   background-color:var(--background-color);
   color:var(--node-text-color)
}

#dark{
    background-color:var(--background-color);
    color:var(--node-text-color)
}
#dark_min{
   background-color:var(--background);
   color:var(--node-text-color)
}
#footer{
   background-color:var(--bg-color);
   color:var(--node-text-color)
}
#main{
   background-color:var(--background-main);
   color:var(--node-text-color)
}
#router{
   background-color:var(--background-color);
   color:var(--node-text-color)
}