

/*网页的全局样式 解决兼容问题*/
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,td,form,input,select,textarea,span,img,a,em,strong,* {margin: 0;padding: 0;}
body {font-family: "宋体";font-size: 12px;color: #000000;}
ul,ol,li {list-style: none;}
h1,h2,h3,h4,h5,h6 {font-size: 14px;}
input,select,textarea {vertical-align: middle;}
img {border: none;vertical-align: middle;}
a {text-decoration: none;color: #333;}
a:hover {color: #009999;}
.clear {clear: both;height: 0px;width: 0px;overflow: hidden;}

html,body,#root,#app {
    width: 100%;
    height: 100%;
}

.home {
    width: 100%;
    height: 100%;
    .home_nav{
        width:100%;
        height: 65px;
        border-bottom: #efefef;
        .home_navs{
            height: 65px;
            margin: 0 auto;
            background-color: #ffffff;
        }
    }
    .home_main {
        width: 100%;
        height: auto;
        min-height: calc(100% - 215px);
        background-color: #efefef;
        .home_con{
            height: auto;
            margin: 0 auto;
            background-color: #f8f8f8;
        }
    }
    .home_foot {
        width: 100%;
        height: 150px;
        background-color: #36353f;
        border-top: 1px solid #7a7a7a;
        .home_footer{
            height: 100%;
            margin: 0 auto;
        }
    }
}

.search{
    width: 100%;
    height: 100%;
    .search_top{
        width: 70%;
        height: 90px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search_top_left{
            font-size: 30px;
            font-weight: bolder;
        }
        .search_top_right{
            font-size: 20px;
            color: #c5c5c5;
            button{
                font-size: 25px;
                border: none;
                background-color: transparent;
                color: #c5c5c5;
            }
        }
    }
    #search_text{
        width: 70%;
        height: 40px;
        margin: 0 auto;
        .ant-input{
            height: 38px;
        }
        .ant-input-group-addon{
            width: 10%;
            .ant-btn{
                width: 100%;
                height: 38px;
            }
        }
    }
    .search_result{
        width: 70%;
        height: auto;
        margin: 0 auto;
        li{
            width: 100%;
            height: 50px;
            line-height: 50px;

        }
        li:hover{
            color: #da5473;
        }
    }
}

@keyframes opilal{
    0%{
        transform: translateX(-100px);
        opacity: 0.1;
    }
    50%{
        transform: translateX(-50px);
        opacity: 0.5;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 767px) {
    .home_navs,.home_con,.home_footer{
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .home_navs,.home_con,.home_footer{
        width: 768px;
    }
}

@media screen and (min-width: 992px) {
    .home_navs,.home_con,.home_footer{
        width: 990px;
    }
}

@media screen and (min-width: 1200px) {
    .home_navs,.home_con,.home_footer{
        width: 1140px;
    }
}