:root.light{
    --background-color:#ffffff;
    --node-text-color:#000000;
    --bg-color:#36353f;
    --background:#ffffff;
    --background-main:#efefef
}

:root.dark{
    --background-color:#232334;
    --node-text-color:#ffffff;
    --bg-color:#232334;
    --background:#3a3a4b;
    --background-main:#232334;
    
}